
.access {
    @include pc {
        padding: 260px 0 70px;
    }
    @include sp {
        padding-bottom: 70px;
    }
    background-color: #A193861F;
    &__wrap { 
        display: flex;
        justify-content: space-between;
        @include sp {
            flex-direction: column-reverse;
            text-align: center;
        }
    }
    &__a1 {
        font-size: 2.4rem;
        font-family: Bold;
        color: #00000038;
        position: absolute;
        top: 30%;
        left: 20%;
        letter-spacing: 5px;
        @include sp {
            position: absolute;
            top: 15%;
            left: 7.5%;
        }
    }
    &__a2 {
        height: 120px;
        line-height: 30px;
        position: absolute;
        top: 40%;
        left: 20%;
        @include sp {
            position: absolute;
            top: 30%;
            left: 7.5%;
        }
    }
    &__a3 {
        font-size: 1.6rem;
        font-family: Roboto Mono for Powerline;
        color: white;
        letter-spacing: 5px;
        @include sp {
            display: flex;
            justify-content: space-between;
            line-height: 40px;
        }
    }
    &__table {
        height: 400px;
        width: 40%;
        background-color: #D0C5BA;
        position: relative;
        @include sp {
            width: 100%;
            height: 280px;
        }
    }
    &__map {
        width: 60%;
        @include sp {
            width: 100%;
            object-position: center;
        }
    }
    &__map1 {
        width: 100%;
        height: 400px;
        
    }
}

.th {
    width: 100%-8.3%*2;
    margin: 0 auto;
    @include sp {
        padding-top: 60px;
        margin: 60px auto;
    }
}