footer {
    width: 83%;
    padding: 160px 0 60px;
    margin: 0 auto;
    @include tab {
        padding: 60px 21px 20px;
        width: 90%;
    }
}

.line {
    width: 100%;
    margin-bottom: 83px;
    border-top: 1px solid #70707036;
    @include sp {
        margin-bottom: 60px;
    }
}


.ft {
    display: flex;
    justify-content: space-between;
    height: 40px;
    @include sp {
        flex-direction: column-reverse;
        height: 114px;
    }
    &__title {
        width: 238px;
        font-size: 3.2rem;
        color: #7070704D;
        @include sp {
            font-size: 1.8rem;
        }
    }
    &__re {
        font-size: 1.8rem;
        width: 184px;
        color: #707070;
        padding: 10px 41px;
        border: 1px solid #707070;
        text-align: center;
        @include tab {
            margin: 0 auto;
        }
    }
    .itag {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include sp {
            justify-content: space-between;
            width: 100%;
        }
    }
}

.fab {
    font-size: 2.5rem;
    margin-left: 9px;
}


.mark {
    @include sp {
        margin: auto 0;
        width: 70px;
    }
}