.frist-v {
    display: flex;
    height: 100vh;
    &__font {
        width: 46%;
        position: relative;
        @include tab {
            width: 100%;
            z-index: 10;
        }
    }
    &__img {
        width: 54%;
        background-image: url(../img/Blond\ woman\ with\ long\ curly\ beautiful\ hair.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        @include tab {
            width: 100%;
            position: absolute;
        }
    }
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 20%;
    transform: translate(-50%,-50%);
    @include tab {
        flex-direction: column-reverse;
        color: white;
    }
    &__jp {
        font-size: 3.8rem;
        font-family: 游明朝;
        padding-left: 20px;
        letter-spacing: 1;
        @include tab {
            font-size: 2.3rem;
        }
    }
    &__eg {
        font-size: 3.8rem;
        font-family: Cambria, serif;
        @include tab {
            font-size: 2.8rem;
        }
    }
}