.content {
    background: linear-gradient(to bottom, #A193861F 0%, #A193861F 40%, #A1938689 40%, #A1938689 100%);    
    height: 960px;
    @include tab {
        background: linear-gradient(to bottom, #A193861F 0%, #A193861F 30%, #A1938689 30%, #A1938689 100%);
        height: 700px;
    }
}

.ct-img {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60vh;
    margin-bottom: 5%;
@include tab {
    margin: 50px 0;
    height: 40vh;
}
&__box1 {
    width: 63%;
    @include sp {
        width: 49%;
    }
    }
&__box2 {
    width: 36%;
    @include sp {
        width: 49%;
    }
    }
}

.ct-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    padding: 0 6%;
    @include tab {
        flex-direction: column;
    }
    &__message {
        font-size: 4.0rem;
        font-family: 游明朝;
        width: 60%;
        letter-spacing: 15px;
        @include tab {
            font-size: 1.8rem;
            letter-spacing: 5px;
            margin-bottom: 16px;
            width: 60%;
        }
    }
    &__message2 {
        font-size: 1.6rem;
        font-family: ヒラギノ角ゴシック;
        width: 45%;
        letter-spacing: 5px;
        @include tab {
            font-size: 1.6rem;
            width: 80%;
        }
    }
}